/* General body styling */
body {
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #e0e0e0, #f4f4f4);
  color: #333;
}

/* Like container styling */
.like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Adds space between the button and the counter */
}

/* Like button styling */
.like-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 30px;
  background-color: #fff;
  color: #333;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.like-button:hover {
  background-color: #333;
  color: #fff;
}

.like-button .like-icon {
  margin-right: 10px;
}

.like-button.liked {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.liked {
  background-color: black;
  color: white;
}

/* Footer styling */
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
